@tailwind base;

.vh-navbar {
  height: 10vh;
}

.vh-default-main {
  height: 90vh;
}

.vh-footer {
  height: 15vh;
}
/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer components {
}
