@tailwind base;

html {
  scroll-behavior: smooth;
}

.vh-navbar {
  height: 10vh;
}

.vh-default-main {
  height: 90vh;
}

.vh-footer {
  height: 15vh;
}

.w-rscreen {
  width: 100vw;
}

.element-blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.element-clear {
  filter: none;
  -webkit-filter: none;
}
/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer components {
}
